.vscode
rollup
.editorconfig
.eslintignore
.eslintrc.yaml
.prettierignore
.prettierrc.yaml
.size-snapshot.json
.travis.yml
jest.config.ts
BACKLOG.md
scripts
tsconfig.json
tsconfig.build.json
tsconfig.spec.json
*.spec.ts
*.spec.d.ts
.github
build
