name: Continuous Integration

on:
  push:
    branches-ignore: [ "main" ]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - run: npm ci
        name: Install dependencies

      - run: npm test
        name: Run tests

      - run: npm run build
        name: Run build
          
      - run: npm run lint
        name: Check linting

      - run: npm run format:check
        name: Check formatting

      - run: npm run checkPkgTypes
        name: Check package type definitions

